<a href="https://colab.research.google.com/github/divyakhandelwal2211/regex-python-assignment/blob/main/loops_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loops

1.Write a program to print all natural numbers from 1 to n.

In [1]:
n = int(input("enter the value of n: "))

for i in range(1,n+1):
  print(i)

enter the value of n: 10
1
2
3
4
5
6
7
8
9
10

2. Write a program to print all natural numbers in reverse (from n to 1).

In [2]:
n = int(input("enter the value of n: "))

for i in range(n,0,-1):
  print(i)

enter the value of n: 10
10
9
8
7
6
5
4
3
2
1

3. Write a program to print all even numbers between 1 to 100.

In [6]:
for i in range(1,101):
  if(i%2==0):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

4. Write a program to find the sum of all odd numbers between 1 to n.

In [13]:
n = int(input("enter the value of n: "))
sum = 0
for i in range(1,n+1):
  if(i%2!=0):
    sum+=i
print(sum)

enter the value of n: 5
9

5. Write a program to print all alphabets from a to z.

In [14]:
for letter in range(ord('a'), ord('z') + 1):
    print(chr(letter), end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z