<a href="https://colab.research.google.com/github/divyakhandelwal2211/regex-python-assignment/blob/main/loops_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loops

1.Write a program to print all natural numbers from 1 to n.

In [ ]:
n = int(input("enter the value of n: "))

for i in range(1,n+1):
  print(i)

enter the value of n: 10
1
2
3
4
5
6
7
8
9
10

2. Write a program to print all natural numbers in reverse (from n to 1).

In [ ]:
n = int(input("enter the value of n: "))

for i in range(n,0,-1):
  print(i)

enter the value of n: 10
10
9
8
7
6
5
4
3
2
1

3. Write a program to print all even numbers between 1 to 100.

In [ ]:
for i in range(1,101):
  if(i%2==0):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

4. Write a program to find the sum of all odd numbers between 1 to n.

In [ ]:
n = int(input("enter the value of n: "))
sum = 0
for i in range(1,n+1):
  if(i%2!=0):
    sum+=i
print(sum)

enter the value of n: 5
9

5. Write a program to print all alphabets from a to z.

In [ ]:
for letter in range(ord('a'), ord('z') + 1):
    print(chr(letter), end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

6. Write a program to count the number of digits in a number.

In [23]:
num = int(input("Enter the number: "))
count = 0

for i in range(1, num+1):
  num = num//10
  count+=1
  if num == 0:
    break

print(count)

Enter the number: 123
3

7. Write a program to calculate the sum of digits of a number.

In [24]:
num = int(input("Enter the number: "))
sum = 0

for i in range(1, num+1):
  digit = num%10
  sum = sum+digit
  num = num//10

  if num == 0:
    break

print(sum)

Enter the number: 234
9

8. Write a program to find the first and last digit of a number.

In [25]:

num = int(input("enter the value: "))

last_digit=num%10

for i in range(1,num+1):
  num = num//10

  if num <10:
    first_digit = num
    break
print(first_digit)
print(last_digit)

enter the value: 12345
1
5

9. Write a program to find the sum of first and last digit of a number.

In [26]:
num = int(input("enter the value: "))

last_digit=num%10
sum = 0

for i in range(1,num+1):
  num = num//10

  if num <10:
    first_digit = num
    break
print(first_digit)
print(last_digit)
sum = first_digit+last_digit
print("sum ",sum)

enter the value: 12345
1
5
sum  6

10.Write a program to enter a number and print its reverse.

In [27]:
num = int(input("Enter the number: "))

for i in range(1, num+1):
  digit = num%10
  print(digit,end="")
  num = num//10

  if num == 0:
    break

Enter the number: 1234
4321

11.Write a program to find the power of a number using for loop.

In [19]:
num = int(input("enter a number: "))
power = int(input("enter the power: "))
result = 1
for i in range(1,power+1):
  result = result*num
print(result)

enter a number: 3
enter the power: 3
27

12.Write a program to find all factors of a number.

In [ ]:
num = int(input("enter the number: "))
for i in range(1,num+1):
  if(num%i==0):
    print(i)

enter the number: 4
1
2
4