In [14]:
my_tuple = 10,20,"abc"
print(my_tuple)

(10, 20, 'abc')

In [15]:
my_tuple = 10,20,"abc",10,10
print(my_tuple.count(10))

3

In [16]:
my_tuple = 10,20,"abc"
print(my_tuple.index("abc"))

2

In [17]:
my_dict= {10:"aman",11:"aditya"}
print(my_dict)
print(my_dict[11])

{10: 'aman', 11: 'aditya'}
aditya

In [18]:
#insert
my_dict[12]="naina"
print(my_dict)

{10: 'aman', 11: 'aditya', 12: 'naina'}

In [19]:
#update
my_dict[10]="ujjwal"
print(my_dict)

{10: 'ujjwal', 11: 'aditya', 12: 'naina'}

In [ ]:
#pop delete the value of key and can return also
x = my_dict.pop(11)
print(my_dict)
print(x)

{10: 'ujjwal', 12: 'naina'}
aditya

In [22]:
my_dict= {10:"aman",11:"aditya"}
my_dict.update({10:"naina","salary":500})
print(my_dict)

{10: 'naina', 11: 'aditya', 'salary': 500}

In [23]:
my_dict= {10:"aman",11:"aditya"}
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys([10, 11])
dict_values(['aman', 'aditya'])
dict_items([(10, 'aman'), (11, 'aditya')])

In [24]:
my_dict= {10:"aman",11:"aditya"}
for i in my_dict:
    print(i,my_dict[i])

10 aman
11 aditya

In [25]:
my_dict= {10:"aman",11:"aditya"}
for i in my_dict.keys():
    print(i,my_dict[i])

10 aman
11 aditya

In [26]:
my_dict= {10:"aman",11:"aditya"}
for i in my_dict.items():
    print(i)

(10, 'aman')
(11, 'aditya')

In [30]:
s = "hello"
my_dict={}
count=0
for i in range(len(s)):
    count+=1
    
my_dict["total"]=count
print(my_dict)

{'total': 5}

In [31]:
dict1= {'salary':80}
dict1['salary']=dict1['salary']+5
print(dict1)

{'salary': 85}

In [ ]:
s = "hello"
my_dict={'total':0}
for i in s:
    my_dict['total']+=1

print(my_dict)

{'total': 5}

In [40]:
s = 'helloasdf6123'
my_dict={"vowel":0}
for i in s:
    if(i in "aeiou"):
        my_dict['vowel']+=1

print(my_dict)

{'vowel': 3}

In [47]:
s = 'heyvit'
my_dict={}
for i in s:
    my_dict[i]=1

print(my_dict)

{'h': 1, 'e': 1, 'y': 1, 'v': 1, 'i': 1, 't': 1}

In [50]:
s="heyvit"
mydict={}
for i in s:
    mydict[i]=1

print(mydict)

{'h': 1, 'e': 1, 'y': 1, 'v': 1, 'i': 1, 't': 1}

In [3]:
s= "regex software"
result={}

for i in s:
    if i in 'aeiou':
        if i in result:
            result[i]+=1
        else:
            result[i]=1

print(result)

{'e': 3, 'o': 1, 'a': 1}

In [ ]:
# number to roman

In [4]:
x = [10,20,30]
y=[i+5 for i in x]
print(y)

[15, 25, 35]

In [3]:
x={i:1 for i in 'hey'}
print(x)

{'h': 1, 'e': 1, 'y': 1}

In [8]:
#set
#all value are unique
#set is mutable
#no index position

myset = {1,2,3,1,1,1,"def",555,7}
myset.add(80)
myset.discard(1191)   # if value in set then it will delete it 
                    #otherwise move forward and don't give any error

print(myset)

{80, 1, 2, 3, 'def', 7, 555}

In [9]:
myset={10,20,30}
myset2={40,50}
myset.union(myset2)

{10, 20, 30, 40, 50}

In [10]:
myset={10,20,30}
myset2={30,50}
myset.intersection(myset2)

{30}

In [14]:
myset = {10,20,30,40,50}
myset2 = {40,50,30}
myset3 = {40,50,30,'abc'}
print(myset.issuperset(myset2))
print(myset.issuperset(myset3))

True
False

In [15]:
num = [1, 2, 3, 2, 4, 5, 1, 6]
for i in range(0, len(num)):
    for j in range(i+1, len(num)):
        if(num[j]==num[i]):
            num.pop(j)
            break
print(num)

[1, 2, 3, 4, 5, 6]

In [1]:
x=49
numbers=[1,4,5,9,10,40,50,90,100,400,500,900,1000]
roman=['I','IV','V','IX','X','XL','L','XC','C','CD','D','CM','M']
i = 12
roman_numeral=''
while x!=0:
    if numbers[i]<=x:
        roman_numeral+=roman[i]
        x = x-numbers[i]
    else:
        i-=1

print(roman_numeral)

XLIX

In [9]:
x = 49
roman_dict = {
    1:'I', 4: 'IV',5: 'V', 9: 'IX',10: 'X', 40: 'XL',50: 'L',
    90: 'XC', 100: 'C',400: 'CD',500: 'D',900: 'CM',1000: 'M'
}

roman_numeral = ''
for value in sorted(roman_dict.keys(),reverse=True):
    while value<=x:
        roman_numeral += roman_dict[value]
        x -= value

print(roman_numeral)

XLIX