In [ ]:
for num in range(2,12):
  a = 0
  for j in range(2,num):
    if(num%j==0):
      a = 1
      break
  if(a==0):
   print(num,end=" ")

2 3 5 7 11

In [ ]:
my_list= [ 40, 50, -20, 60, 60, -20, -20]
duplicate = []
for i in range(len(my_list)):
  for j in range(i+1,len(my_list)):
    if my_list[i]==my_list[j]:
      if my_list[i] not in duplicate:
        duplicate.append(my_list[i])
print(duplicate)

[-20, 60]

In [ ]:
my_list= [-7,-1,-7,1,8,8]
duplicate = []
for i in range(len(my_list)):
  for j in range(i+1,len(my_list)):
    if my_list[i]==my_list[j]:
      if my_list[i] not in duplicate:
        duplicate.append(my_list[i])
print(duplicate)

[-7, 8]

In [ ]:
for i in range(4):
  for j in range(7):
    if(i==0 or i==j or i+j==6):
      print("*",end="")
    else:
      print(" ",end="")
  print()

*******
 *   *
  * *
   *

In [ ]:
for i in range(7):
  for j in range(4):
    if(j==0 or i==j or i+j==8):
      print("#",end="")
    else:
      print(" ",end="")
  print()

#
##
# #
#  #
#
#  #
# #

In [ ]:
def horizontal_hollow_pyramid(n):
    # Top-to-middle (including the middle line of length n)
    for i in range(1, n+1):
        for j in range(1, i+1):
            # Print a star at the two edges of the row
            if j == 1 or j == i:
                print("#", end="")
            else:
                print(" ", end="")
        print()
    # Middle-to-bottom (excluding the middle line, mirroring above)
    for i in range(n-1, 0, -1):
        for j in range(1, i+1):
            if j == 1 or j == i:
                print("#", end="")
            else:
                print(" ", end="")
        print()

# Example: height = 5
horizontal_hollow_pyramid(5)

#
##
# #
#  #
#   #
#  #
# #
##
#

In [ ]:
n = 5
for i in range(1,n-1):
  for j in range(1,i+1):
    if(j==1 or i==j):
      print("#",end=" ")
    else:
      print(" ",end=" ")
  print()

for i in range(1,n):
  for j in range(i,n):
    if(j==1 or i+j==5):
      print("#",end=" ")
    else:
      print(" ",end=" ")
  print()

#
# #
#   #
#     #
  #

In [ ]:
x = "regexian"
y = "divya"

matched = []
for char in x:
  if char in y and char not in matched:
    matched.append(char)

print(matched)

['i', 'a']